<html ng-controller="appController">
<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/fakes/hangout-fake.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.js"></script>

    <script src="js/modules.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers/app-controller.js"></script>
    <script src="js/directives/die-container.js"></script>
    <script src="js/directives/message-display.js"></script>
    <script src="js/services/dice-service.js"></script>
    <script src="js/services/message-service.js"></script>
    <script src="js/services/destiny-service.js"></script>
    <script src="js/services/setting-service.js"></script>

    <script src="js/utilities.js"></script>

    <!-- Angular Templates -->
    <!-- Template for display of dice controls -->
    <script type="text/ng-template" id="die-container.html">
        <div class="die-container">
            <img ng-src="images/{{color}}.png" class="die-button" id="roll{{color}}" alt="{{color}} die"
                 ng-click="clearQty()" ng-if="color!='Numeric'" />
            <input type="text" class="numeric-die-type" ng-model="$parent.numericDieType" ng-if="color=='Numeric'" />
            <span class="qty-text-box">{{quantity}}</span>
            <div class="arrow-container">
                <img class="arrow-up" src="images/arrow-up.png" alt="{{color}} +1" ng-click="changeQty(1)" />
                <img class="arrow-down" src="images/arrow-down.png" alt="{{color}} -1" ng-click="changeQty(-1)" />
            </div>
        </div>
    </script>

    <!-- Template for display of a message -->
    <script type="text/ng-template" id="message-display.html">
        <div class='row-wrapper'>
            <div class='image-wrapper'>
                <img class='person-image' ng-src='{{person.image.url}}' title='{{person.displayName}}' alt="{{person.displayName}}" />
            </div>
            <div class='results-wrapper' ng-if="message.type == 'roll'">
                <div class="roll-caption" ng-if="message.data.rollCaption" ng-bind="message.data.rollCaption">
                </div>
                <div class='dice-results'>
                    <img class='symbol' ng-src='images/{{dieResult.die}}-{{dieResult.result}}.png'
                         alt="{{dieResult.die|dieName}} {{dieResult.result|dieResultSummary}}"
                         ng-if="dieResult.die != 'Numeric'" ng-repeat="dieResult in message.data.diceResults" />
                    <span class="numeric-result" ng-repeat="dieResult in message.data.diceResults"
                          ng-if="dieResult.die == 'Numeric'">{{dieResult.numericDieType}}</span>
                </div>
                <div class='overall-results' title="{{message.data.overallResult|dieResultSummary}}">
                    <img class='symbol' ng-src='images/{{symbols[result]}}' alt="{{result|symbolName}}"
                         ng-repeat="result in message.data.overallResult track by $index" />
                    <span class="numeric-result" ng-repeat="dieResult in message.data.diceResults"
                          ng-if="dieResult.die == 'Numeric'">{{dieResult.result}}</span>
                </div>
            </div>
            <div class="results-wrapper" ng-if="message.type == 'html'" ng-bind-html="message.data.html">
            </div>
        </div>
    </script>

</head>

<body>
    <div id="container">
        <div id="header" ng-class="{'more-panel-open': showMore}">
            <div id="headerInner">
                <div id="destinyTracker">
                    <div id="destinyTokenContainer">
                        <img ng-src='images/destiny-{{destinyChar|destinyType}}.png' alt="Destiny {{destinyChar|destinyType}}" class='destiny-token' ng-click='toggleDestiny($index)'
                             ng-repeat="destinyChar in destiny track by $index" />
                        <div id="destinyWatermark" ng-show="!destiny">DESTINY</div>
                    </div>
                    <div id="destinyButtonContainer">
                        <input class="button" type="button" value="Add" id="addDestiny" ng-click="addDestiny()" />
                        <input class="button" type="button" value="Remove" id="removeDestiny" ng-click="removeDestiny()" />
                    </div>
                </div>
                <div id="buttonContainer">
                    <die-container color="Green" quantity="diceQuantities['Green']"></die-container>
                    <die-container color="Yellow" quantity="diceQuantities['Yellow']"></die-container>
                    <die-container color="Boost" quantity="diceQuantities['Boost']"></die-container>
                    <die-container color="Purple" quantity="diceQuantities['Purple']"></die-container>
                    <die-container color="Red" quantity="diceQuantities['Red']"></die-container>
                    <die-container color="Setback" quantity="diceQuantities['Setback']"></die-container>

                    <die-container color="Success" quantity="diceQuantities['Success']" ng-if="showMore"></die-container>
                    <die-container color="Advantage" quantity="diceQuantities['Advantage']" ng-if="showMore"></die-container>
                    <die-container color="Triumph" quantity="diceQuantities['Triumph']" ng-if="showMore"></die-container>
                    <die-container color="Failure" quantity="diceQuantities['Failure']" ng-if="showMore"></die-container>
                    <die-container color="Threat" quantity="diceQuantities['Threat']" ng-if="showMore"></die-container>
                    <die-container color="Despair" quantity="diceQuantities['Despair']" ng-if="showMore"></die-container>

                    <die-container color="Force" quantity="diceQuantities['Force']"></die-container>
                    <die-container color="Numeric" quantity="diceQuantities['Numeric']" numeric-die-type="numericDieType"></die-container>

                    <input class="button" type="button" value="ROLL!" id="roll" ng-click="roll()" />

                    <div id="rollCaptionContainer" ng-show="showMore">
                        Roll caption: <input type="text" id="rollCaption" ng-model="rollCaption" />
                    </div>

                    <input class="checkbox" type="checkbox" id="resetAfterRoll" ng-model="resetAfterRoll" />
                    <label for="resetAfterRoll"><span></span>Reset after each roll</label>
                    <input class="button" type="button" value="Reset" id="resetDiceQuantities" ng-click="resetDiceQuantities()" />

                    <div id="moreButton" ng-click="toggleMorePanel()">{{showMore ? "Less" : "More"}}</div>
                </div>
            </div>
        </div>

        <!-- Main Content View -->
        <div id="content-main" class="content" ng-class="{'more-panel-open': showMore}">
            <div id="outputArea" class="{{imageSize}}">
            </div>
        </div>

        <!-- Settings Content View -->
        <div id="content-settings" class="content ng-hide slide-down-animation" ng-show="showSettings" ng-class="{'more-panel-open': showMore}">
            <div id="settings-container">
                <div id="settings-close" ng-click="showSettings=false">
                    <img src="images/close-button.png" alt="Close Settings" />
                </div>

                <h1>Settings</h1>

                <div class="settings-item">
                    <span class="settings-label">Image Size</span>
                    <select id="image-size-dropdown"
                            ng-model="imageSize"
                            ng-change="imageSizeChange()"
                            ng-options="value.id as value.label for value in imageSizeOptions"></select>
                </div>

                <div class="settings-item">
                    <a href="https://github.com/cjhooker/eote-dice-roller/issues" target="_blank">Report a bug or request a feature</a>
                </div>

                <!--<div>
                    <input class="button" type="button" value="DEBUG" id="debugButton" ng-click="displayDebug()" />
                </div>-->
            </div>
        </div>

        <!-- [[DEBUG_WATERMARK]] -->

        <div id="footer">
            <div id="footer-inner">
                <input class="button" type="button" value="Clear Results" id="clearMessages" ng-click="clearMessages()" />

                <input class="button" type="button" value="Insert Break Line" id="insertBreak" ng-click="insertBreak()" />

                <img class="settings-button" ng-src="images/{{settingsButtonSrc}}" alt="Settings"
                     ng-init="settingsButtonSrc='settings.png'" ng-mouseover="settingsButtonSrc='settings-hover.png'" ng-mouseout="settingsButtonSrc='settings.png'"
                     ng-click="toggleSettingsDisplay()" />
            </div>
        </div>
    </div>
    <script src="js/hangout-init.js"></script>
</body>
</html>
