/* Variables */
/* General Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}
body,
div,
span,
p,
td {
  font-family: "Segoe UI", sans-serif;
}
h1 {
  margin-top: 5px;
  font-size: 1.75em;
  font-weight: bold;
  color: #1f7fbe;
}
.clearfix {
  display: inline-block;
  width: 100%;
}
input.button {
  border-radius: 0;
  background: #1f7fbe;
  color: #fff;
  border: 0 solid #000;
  margin: 3px 0;
  height: 24px;
  cursor: pointer;
}
input.button:hover {
  background: #22a2f6;
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-track {
  border-left: 1px solid #1f7fbe;
  border-right: 1px solid #1f7fbe;
  border-top: none;
  border-bottom: none;
}
::-webkit-scrollbar-thumb {
  background-color: #1f7fbe;
  border: 2px solid transparent;
  background-clip: content-box;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -2px 6px 0 0;
  vertical-align: middle;
  background: url([[BASE_PATH_CSS]]images/checkbox-unchecked.png) left top no-repeat;
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
  background: url([[BASE_PATH_CSS]]images/checkbox-checked.png) left top no-repeat;
}
/* Specific Sections */
#container {
  position: relative;
  /*display: table;*/
  height: 100%;
  width: 300px;
  float: right;
}
#header {
  /*display: table-row;*/
  position: absolute;
  height: 245px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 5px;
}
#header #headerInner {
  visibility: hidden;
  background-color: #fff;
}
#header #headerInner #destinyTracker {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
  height: 64px;
}
#header #headerInner #destinyTracker #destinyTokenContainer {
  position: relative;
  float: left;
  height: 64px;
  width: 230px;
  overflow: auto;
}
#header #headerInner #destinyTracker #destinyTokenContainer .destiny-token {
  margin-right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#header #headerInner #destinyTracker #destinyTokenContainer #destinyWatermark {
  position: absolute;
  left: 45px;
  top: 7px;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.05;
}
#header #headerInner #destinyTracker #destinyTokenContainer ::-webkit-scrollbar-track {
  border-top: 1px solid #1f7fbe;
  border-bottom: 1px solid #1f7fbe;
}
#header #headerInner #destinyTracker #destinyButtonContainer {
  float: right;
  width: 60px;
}
#header #headerInner #destinyTracker #destinyButtonContainer input.button {
  width: 60px;
  height: 26px;
}
#header #headerInner #buttonContainer {
  padding: 5px;
}
#header #headerInner #buttonContainer input.button#resetDiceQuantities {
  width: 110px;
  float: right;
  margin-right: 2px;
  height: 32px;
  margin-top: 0;
}
#header #headerInner #buttonContainer input.button#roll {
  width: 92px;
  height: 40px;
  margin: 0;
  font-weight: bold;
  font-size: 1.25em;
}
#header #headerInner #buttonContainer #resetAfterRoll + label {
  float: left;
  position: relative;
  top: 4px;
}
#header #headerInner #buttonContainer die-container:nth-child(3n) .die-container {
  margin-right: 0;
}
#header #headerInner #buttonContainer .die-container {
  float: left;
  border: 1px solid rgba(34, 162, 246, 0.3);
  background: rgba(34, 162, 246, 0.05);
  margin-right: 6px;
  margin-bottom: 3px;
  padding: 3px 7px;
}
#header #headerInner #buttonContainer .die-container img,
#header #headerInner #buttonContainer .die-container div,
#header #headerInner #buttonContainer .die-container input,
#header #headerInner #buttonContainer .die-container span {
  float: left;
  display: block;
}
#header #headerInner #buttonContainer .die-container .die-button {
  width: 32px;
  margin-right: 0;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}
#header #headerInner #buttonContainer .die-container .numeric-die-type {
  width: 32px;
  height: 32px;
  text-align: center;
}
#header #headerInner #buttonContainer .die-container .qty-text-box {
  width: 26px;
  height: 32px;
  text-align: center;
  border: none;
  font-size: 1.4em;
  color: #114466;
}
#header #headerInner #buttonContainer .die-container div.arrow-container {
  width: 16px;
  margin-left: 2px;
}
#header #headerInner #buttonContainer .die-container div.arrow-container .arrow-up,
#header #headerInner #buttonContainer .die-container div.arrow-container .arrow-down {
  cursor: pointer;
}
#header #headerInner #buttonContainer .die-container div.arrow-container .arrow-up {
  margin: 0;
}
.content {
  position: absolute;
  top: 245px;
  bottom: 30px;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;
}
.content .debugWatermark {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 50px;
  font-weight: bold;
  opacity: 0.1;
  color: #FF0000;
}
.content #outputArea {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}
.content #outputArea .alert {
  color: red;
  padding: 10px;
}
.content #outputArea .row-wrapper {
  margin: 5px 5px 20px 5px;
  overflow: hidden;
}
.content #outputArea .row-wrapper .image-wrapper {
  float: left;
}
.content #outputArea .row-wrapper .image-wrapper .person-image {
  margin-right: 5px;
}
.content #outputArea .row-wrapper .results-wrapper {
  float: left;
}
.content #outputArea .row-wrapper .results-wrapper .symbol {
  float: left;
  margin-right: 2px;
}
.content #outputArea .row-wrapper .results-wrapper .numeric-result {
  float: left;
  margin: 0 1px;
  padding: 0 3px;
  border: 1px solid #888888;
}
.content #outputArea .row-wrapper .results-wrapper .overall-results {
  margin-top: 5px;
  clear: left;
}
.content #outputArea .standard-die-roll {
  font-size: 1.5em;
}
.content #outputArea.small .row-wrapper {
  margin-bottom: 10px;
}
.content #outputArea.small .row-wrapper .image-wrapper {
  width: 37px;
}
.content #outputArea.small .row-wrapper .image-wrapper .person-image {
  width: 32px;
  height: 32px;
}
.content #outputArea.small .row-wrapper .results-wrapper {
  width: 236px;
}
.content #outputArea.small .row-wrapper .results-wrapper .symbol {
  width: 16px;
  height: 16px;
}
.content #outputArea.small .row-wrapper .results-wrapper .numeric-result {
  height: 14px;
  font-size: 1em;
  line-height: 14px;
}
.content #outputArea.medium .row-wrapper {
  margin-bottom: 15px;
}
.content #outputArea.medium .row-wrapper .image-wrapper {
  width: 53px;
}
.content #outputArea.medium .row-wrapper .image-wrapper .person-image {
  width: 48px;
  height: 48px;
}
.content #outputArea.medium .row-wrapper .results-wrapper {
  width: 220px;
}
.content #outputArea.medium .row-wrapper .results-wrapper .symbol {
  width: 24px;
  height: 24px;
}
.content #outputArea.medium .row-wrapper .results-wrapper .numeric-result {
  height: 22px;
  font-size: 1.25em;
  line-height: 22px;
}
.content #outputArea.large .row-wrapper .image-wrapper {
  width: 69px;
}
.content #outputArea.large .row-wrapper .image-wrapper .person-image {
  width: 64px;
  height: 64px;
}
.content #outputArea.large .row-wrapper .results-wrapper {
  width: 204px;
}
.content #outputArea.large .row-wrapper .results-wrapper .symbol {
  width: 32px;
  height: 32px;
}
.content #outputArea.large .row-wrapper .results-wrapper .numeric-result {
  height: 30px;
  font-size: 1.55em;
  line-height: 30px;
}
#settings-container {
  padding: 5px;
}
#settings-container .settings-label {
  font-weight: bold;
  margin-right: 10px;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
#footer #footer-inner {
  width: 290px;
  margin: 0 auto;
}
#footer #footer-inner input.button {
  width: 120px;
  margin: 3px 10px 3px 0;
  float: left;
}
#footer #footer-inner input.button:last-of-type {
  margin-right: 0;
}
#footer #footer-inner .settings-button {
  position: relative;
  top: 1px;
  margin-right: 2px;
  float: right;
  height: 28px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */