#buttonContainer {
	 visibility: hidden;
}

#outputArea {
	overflow: scroll;
}

.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);  
  border: 1px solid #000;
}

#rollGreen.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0), to(#0a0));
  background: -moz-linear-gradient(top, #0f0, #0a0);  
}

#rollYellow.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0), to(#aa0));
  background: -moz-linear-gradient(top, #ff0, #aa0);  
}

#rollPurple.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f), to(#a0a));
  background: -moz-linear-gradient(top, #f0f, #a0a);  
}

#rollRed.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#a00));
  background: -moz-linear-gradient(top, #f00, #a00);  
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#333)); 
	background: -moz-linear-gradient(bottom, #ddd, #aaa); }
