<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *	
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License
-->
	<ModulePrefs title="Hangout Starter">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
  <Content type="html">
  <![CDATA[ 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://eote-hangouts-dice-roller.googlecode.com/git/css/styles.css">
</head>
<body>
    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
    <!--    <script src="js/mock.js"></script>-->
    <div id="container">
        <div id="header">
            <div id="header-inner">
                <!--<h1>Edge of the Empire Dice Roller</h1>-->
                <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/title.png" />
                <div id="destinyTracker">
                    <input class="button" type="button" value="Add Destiny" id="addDestiny" onclick="addDestiny()" />
                    <input class="button" type="button" value="Remove Destiny" id="removeDestiny" onclick="removeDestiny()" />
                    <div id="destinyTokenContainer"></div>
                </div>
                <div id="buttonContainer">
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Green.png" class="die-button" id="rollGreen" onclick="clearQty('Green')" />
                        <input type="number" value="0" id="qtyGreen" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Yellow.png" class="die-button" id="rollYellow" onclick="clearQty('Yellow')" />
                        <input type="number" value="0" id="qtyYellow" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Boost.png" class="die-button" id="rollBoost" onclick="clearQty('Boost')" />
                        <input type="number" value="0" id="qtyBoost" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Purple.png" class="die-button" id="rollPurple" onclick="clearQty('Purple')" />
                        <input type="number" value="0" id="qtyPurple" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Red.png" class="die-button" id="rollRed" onclick="clearQty('Red')" />
                        <input type="number" value="0" id="qtyRed" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Setback.png" class="die-button" id="rollSetback" onclick="clearQty('Setback')" />
                        <input type="number" value="0" id="qtySetback" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Force.png" class="die-button" id="rollForce" onclick="clearQty('Force')" />
                        <input type="number" value="0" id="qtyForce" class="qty-text-box" min="0" />
                    </div>
                    <div class="die-container">
                        <img src="https://eote-hangouts-dice-roller.googlecode.com/git/images/Percentile.png" class="die-button" id="rollForce" onclick="rollStandardDie(100,'%')" />
                    </div>
                    <div id="buttonsBottom">
                        <input class="button" type="button" value="ROLL!" id="roll" onclick="roll()" />

                        <input class="button" type="button" value="Reset Dice" id="clearAllQty" onclick="clearQty()" />

                        <input class="button" type="button" value="Clear Results" id="clearMessages" onclick="clearMessages()" />

                        <input class="button" type="button" value="Insert Break" id="insertBreak" onclick="insertBreak()" />
                    </div>
                    <div id="optionsContainer">
                        <input class="checkbox" type="checkbox" id="clearAfterRoll" /> Clear dice after each roll
                    </div>
                    <div id="alertMessage"></div>
                </div>
            </div>
        </div>

        <div id="content">
            <div id="outputArea">
            </div>
        </div>
    </div>
    <script src="https://eote-hangouts-dice-roller.googlecode.com/git/js/data.js"></script>
    <script src="https://eote-hangouts-dice-roller.googlecode.com/git/js/app.js"></script>
</body>
</html>  
  
  ]]>
  </Content>
</Module>

