<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *	
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License
-->
	<ModulePrefs title="Hangout Starter">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html">
  <![CDATA[     

<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://eote-hangouts-dice-roller.googlecode.com/git/css/styles.css">
</head>
<body>
	<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>

	<h3>Edge of the Empire Dice Roller</h3>

	<div id="buttonContainer">
		<input class="button" type="button" value="Show participants!" id="showParticipants" onClick="showParticipants()"/>
		<br/>
		<input class="button" type="button" value="Green" id="rollGreen" onClick="rollDie('green')"/>
		<br/>
		<input class="button" type="button" value="Yellow" id="rollYellow" onClick="rollDie('yellow')"/>
		<br/>
		<input class="button" type="button" value="Purple" id="rollPurple" onClick="rollDie('purple')"/>
		<br/>
		<input class="button" type="button" value="Red" id="rollRed" onClick="rollDie('red')"/>
		<br/>
		<input class="button" type="button" value="Blue" id="rollPurple" onClick="rollDie('blue')"/>
		<br/>
		<input class="button" type="button" value="Black" id="rollBlack" onClick="rollDie('black')"/>
		<br/>
		<input class="button" type="button" value="Clear messages" id="clearMessages" onClick="clearMessages()"/>
	</div>

	<div id="participantsDiv"></div>

	<hr>
	<div id="outputArea">
	</div>
	<script src="https://eote-hangouts-dice-roller.googlecode.com/git/js/data.js"></script>
	<script src="https://eote-hangouts-dice-roller.googlecode.com/git/js/app.js"></script>
</body>
</html>
]]>
</Content>
</Module>

