<div>
    <input class="button" type="button" value="Han takes control" ng-click="fakeHanTakesControl()" />
    <input class="button" type="button" value="Leia takes control" ng-click="fakeLeiaTakesControl()" />
    <input class="button" type="button" value="Han stops controlling" ng-click="fakeHanStopsControlling()" />
    <input class="button" type="button" value="Leia stops controlling" ng-click="fakeLeiaStopsControlling()" />
    <input class="button" type="button" value="Han changes dice" ng-click="fakeHanChangesDice()" />
    <input class="button" type="button" value="Leia changes dice" ng-click="fakeLeiaChangesDice()" />
    <input class="button" type="button" value="See Han's Dice" ng-click="fakeSeeHansDice()" />
    <input class="button" type="button" value="See Leia's Dice" ng-click="fakeSeeLeiasDice()" />
</div>